.mortgage{
  width: 100vw;
  height: 100vh;
  display: inline-block;
  background: linear-gradient(135deg, rgba(48,0,48,1) 53%, rgba(112,0,112,1) 98%);
  color: white;
}

h1 {
  text-align: center;
  font-size: xxx-large;
  color: white;
}

input[type=range] {
  accent-color: #b12d8e;
}

.calc{
  display: flex;
  flex-direction: column;
  padding: 10%;
  align-items: center;
  justify-content: center;
}

span{
  margin-right: 5px;
}